{% extends "incursions/base-bs5.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block page_title %}
    {% translate "Incursion Data" %}
{% endblock page_title %}

{% block header_nav_brand %}
    {% translate "Incursion Data" %}
{% endblock header_nav_brand %}

{% block content %}
    <table class="table table-hover" id="table-incursions">
        <thead>
            <tr>
                <th class="text-left">{% translate "Constellation" %}</th>
                <th class="text-left">{% translate "Region" %}</th>
                <th class="text-left">{% translate "Faction" %}</th>
                <th class="text-left">{% translate "Established" %}</th>
                <th class="text-left">{% translate "Ended" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for incursion in incursions %}
                <tr>
                    <td>{{ incursion.constellation__name }}</td>
                    <td>{{ incursion.constellation__eve_region__name }}</td>
                    <td>{{ incursion.faction__name }}</td>
                    <td>{{ incursion.established_timestamp }}</td>
                    <td>{{ incursion.ended_timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block extra_script %}
    $(document).ready( function () {
    $('#table-incursions').DataTable({
    lengthMenu: [
    [10, 25, 50, 100, -1],
    [10, 25, 50, 100, 'All'],
    ],
    "stateSave": true,
    "stateDuration": 0
    });
    } );
{% endblock extra_script %}
